body{
    background-color: rgb(247, 241, 241); 

  }
/* .container{
  background-image: url(images/bacteria.jpg); */
  
}
.col-md-2{
  color: black;
  background-color:rgba(153, 0, 204,0.5);
}
.col-md-12{
  background-color: rgba(153, 0, 204,0.5);

}
.well{
  border-color: rgba(153, 0, 204,0.5);
  background-color: rgba(153, 0, 204,0.5);

}
.panel.panel-primary {
  border-color: rgba(153, 0, 204,0.5);
  background-color: rgba(153, 0, 204,0.5);
}
.panel-title{
  color: black;
};
